.map-container {
    height: 400px;
    margin: 10vh;
    border: 2px solid blue;
    border-radius: 5px;
    flex: auto;
}

.map-background {
    display: flex;
    background-color: #282c34;
    height: 100vh;
}